<nav class="flex max-w-5xl" aria-label="Breadcrumb">
    <ol role="list" class="flex h-12 w-full space-x-4 rounded-md bg-white px-6 shadow" >
    <li class="flex">
        <div class="flex items-center">
        <a href="/" class="text-gray-400 hover:text-gray-500">
            <svg class="h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">בית</span>
        </a>
        </div>
    </li>
    {{ if orders }}
    {{ orders }}
    <li class="flex">
        <div class="flex items-center">
            <svg class="h-5 w-5 flex-shrink-0 text-gray-300" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
            </svg>
    
        <a href="{{ url }}" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">{{ title }} - {{ name_la }}</a>
        </div>
        {{ /orders}}
        {{ /if }}
    </li>
    {{ if families }}
    {{ families }}
    <li class="flex">
        <div class="flex items-center">
            <svg class="h-5 w-5 flex-shrink-0 text-gray-300" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
              </svg>
        <a href="{{ url }}" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">{{ title }} - {{ name_la }}</a>
        </div>
    </li>
    {{ /families}}
    {{ /if }}
    {{ if genera }}
    {{ genera }}
    <li class="flex">
        <div class="flex items-center">
            <svg class="h-5 w-5 flex-shrink-0 text-gray-300" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
              </svg>
        <a href="{{ url }}" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">{{ title }} - {{ name_la }}</a>
        </div>
    </li>
    {{ /genera}}
    {{ /if }}
    </ol>
</nav>