
<div class="max-w-5xl mx-auto relative pt-8">
    {{ svg src="/assets/site/scratches" class="absolute text-gray-800 mt-2 top-0 left-0 w-20 hidden md:block" }}
    <article class="py-4 max-w-5xl mx-auto">
        <header class="pb-12 content">
            {{ if get:q }}
                <h1>תוצאות חיפוש עבור <b class="text-natureminded-green">{{ get:q }}</b>:</h1>
            {{ /if }}
        </header>
        <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">

            {{ search:results index="default" }}  
                {{ if no_results }}
                    <h2>לא נמצאו תוצאות.</h2>
                {{ else }}  
                <li class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow">
                    <a href="{{ url }}">
                        <div class="flex w-full items-center justify-between space-x-6 p-2">
                            <div class="flex-1 truncate mr-3">
                                {{ if url | contains('genera') }}
                                    <span class="inline-flex flex-shrink-0 items-center rounded-full bg-green-50 px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset">סוג</span>
                                {{ elseif url | contains('families') }} 
                                    <span class="inline-flex flex-shrink-0 items-center rounded-full bg-blue-50 px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset">משפחה</span>
                                {{ elseif url | contains('orders') }} 
                                    <span class="inline-flex flex-shrink-0 items-center rounded-full bg-blue-50 px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset">סדרה</span>
                                {{ /if }}
                                {{ if category == 'bird'}}
                                    <span class="inline-flex flex-shrink-0 items-center rounded-full bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">ציפור</span>
                                {{ elseif category == 'flower'}} 
                                    <span class="inline-flex flex-shrink-0 items-center rounded-full bg-blue-50 px-1.5 py-0.5 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-600/20">פרח בר</span>
                                {{ /if }}
                                <div class="flex items-center space-x-3">
                                    <h3 class="truncate text-xl font-bold hover:text-teal text-gray-900">{{ title | title }}</h3>
                                </div>
                            </div>
                            {{ if hero_image }}
                                <img class="h-14 w-18 flex-shrink-0 rounded-lg bg-gray-300" src="{{ hero_image }}" alt="{{ alt }}">
                            {{ /if }}
                        </div>
                    </a>
                 </li>
                 {{ /if }}        
                 {{ /search:results }}

         </ul>
    </article>
</div>