
<article class="max-w-6xl mx-auto px-3">
    <header class="mx-auto max-w-xl text-center content">
        <h1 class="mb-4"><span style="font-size: 22px;">משפחה: </span>{{ title }}</h1>
    </header>
    {{ entries as="posts" paginate="12" sort="date:desc" }}
        <div class="mx-auto text-center"> 
            {{ paginate }}

            {{ partial:pagination }}
        
            {{ /paginate }}
        </div>
        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8">
            {{ posts }}
                <div class="col-span-1">
                    {{ if category == 'bird' }}
                        {{ partial:birds/card }}
                    {{ else }}
                        {{ partial:flowers/card }}
                    {{ /if }}
                </div>
            {{ /posts }}
        </section>
        <div class="mx-auto text-center"> 
            {{ paginate }}

            {{ partial:pagination }}
          
            {{ /paginate }}
        </div>
    {{ /entries }}
</article>
