<div class="relative">
    <a href="{{ $url }}" class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl overflow-hidden">
        <img class="squiggle" height="285" src="{{ glide:hero_image height="570" width="736" fit="crop_focal" }}" alt="{{ $hero_image:alt }}">
        <div class="absolute h-5 left-3 rounded-tl rounded-br top-3 p-2 bg-white opacity-60 flex items-center justify-center">
            <h2 class="text-sm">{{ families }} {{ name_he }} {{ /families }}</h2>
        </div>
        <div class="absolute h-5 left-3 rounded-tr rounded-bl bottom-20 p-3 bg-natureminded-green opacity-85 flex items-center justify-center">
            <h2 class="text-white text-l font-bold">{{ name_en }}</h2>
        </div>
        <div class="py-2 px-4 text-center">
            <h2 class="font-bold text-2xl leading-tight">
                {{ title }}    
            </h2>
            <p class="text-xs text-gray-600 mt-1 pb-1 text-center">
            {{ name_la }} 
            </p>
        </div>
    </a>
</div>
