<div class="max-w-5xl mx-auto mb-32">

    <article class="max-w-6xl mx-auto px-3">
        <header class="mx-auto max-w-xl text-center content">
            <h1 class="mb-4">Birds</h1>
        </header>
        {{ collection:birds as="posts" paginate="12" sort="date:desc" }}
    
        <div class="mx-auto text-center"> 
            {{ paginate }}
            {{# <ul class="flex" style="margin: auto;text-align:center">
                {{ if prev_page }}
                    <li class="mx-2"><a href="{{ prev_page }}">&laquo;</a></li>
                {{ else }}
                    <li class="mx-2 disabled"><span>&laquo;</span></li>
                {{ /if }}

                {{ links:segments }}

                    {{ first }}
                        {{ if page == current_page }}
                            <li class="mx-2 active"><span>{{ page }}</span></li>
                        {{ else }}
                            <li class="mx-2"><a href="{{ url }}">{{ page }}</a></li>
                        {{ /if }}
                    {{ /first }}

                    {{ if slider }}
                        <li class="mx-2 disabled"><span>...</span></li>
                    {{ /if }}

                    {{ slider }}
                        {{ if page == current_page }}
                            <li class="mx-2 active"><span>{{ page }}</span></li>
                        {{ else }}
                            <li><a href="{{ url }}">{{ page }}</a></li>
                        {{ /if }}
                    {{ /slider }}

                    {{ if slider || (!slider && last) }}
                        <li class="mx-2 disabled"><span>...</span></li>
                    {{ /if }}

                    {{ last }}
                        {{ if page == current_page }}
                            <li class="mx-2 active"><span>{{ page }}</span></li>
                        {{ else }}
                            <li class="mx-2"><a href="{{ url }}">{{ page }}</a></li>
                        {{ /if }}
                    {{ /last }}

                {{ /links:segments }}

                {{ if next_page }}
                    <li class="mx-2"><a href="{{ next_page }}">&raquo;</a></li>
                {{ else }}
                    <li class="mx-2 disabled"><span>&raquo;</span></li>
                {{ /if }}
            </ul> #}}

            {{ partial:pagination }}

              
            {{ /paginate }}
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8">
            {{ posts }}
                <div class="col-span-1">
                    {{ partial:birds/card }}
                </div>
            {{ /posts }}
        </div>

        <div class="mx-auto text-center"> 
            {{ paginate }}

            {{ partial:pagination }}
          
            {{ /paginate }}
        </div>
        {{ /collection:birds }}
    </article>

</div>

