<article class="max-w-5xl mx-auto px-3">

    {{ partial:breadcrumb}}

    <header class="mx-auto max-w-5xl mt-8 text-center content" style="direction: rtl;">

      <h1>{{ $name_he }}<br class="md:hidden"><span class="text-3xl mr-4">{{ name_la }}</span></h1> 

      <div class="lg:flex items-center justify-center mb-4">

        <div class="ml-4"> הונגרית: <b>{{ name_hu }}</b></div>

      </div>


    </header>
    <img class="rounded-xl" src="{{ $hero_image }}" alt="{{ $hero_image:alt }}">
    <section class="max-w-3xl mx-auto py-6 lg:py-12 content">
        {{ main_content }}
            {{ if $type == "text" }}
                {{ $text }}
            {{ elseif $type == "code_block" }}
                <pre class="language-{{ $mode ?? 'php' }} rounded"><code>{{ $code }}</code></pre>
            {{ elseif $type == "image" }}
                <figure>
                    <img src="{{ $image }}" alt="{{ $caption }}" />
                    <figcaption>{{ $caption }}</figcaption>
                </figure>
            {{ /if }}
        {{ /main_content }}
    </section>

    {{ if $settings:show_signup }}
        {{ partial:sign-up}}
    {{ /if }}
</article>
